@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
/* Estado inicial: invisível e com transformação */
.animate-show,
.animate-right,
.animate-left,
.animate-bottom,
.animate-top {
  opacity: 0;
  filter: blur(0.1rem);
  transition: all 1s ease-out;
}

/* Quando visível, aplica a animação */
.animate-show.visible {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}

.animate-right.visible,
.animate-left.visible,
.animate-bottom.visible,
.animate-top.visible {
  opacity: 1;
  transform: translate(0);
  filter: blur(0);
}

/* Estado inicial específico */
.animate-show {
  transform: scale(0.9);
}

.animate-right {
  transform: translateX(10%);
}

.animate-left {
  transform: translateX(-10%);
}

.animate-bottom {
  transform: translateY(10%);
}

.animate-top {
  transform: translateY(-10%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alexandria", sans-serif;
}

body {
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0.9em;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(158, 158, 158, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(158, 158, 158, 0.6);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(158, 158, 158, 0.8);
}

main {
  box-shadow: 0 0 25px black;
  max-width: 1720px;
  overflow: hidden;
}
main .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}
main .title h2 {
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 2.5rem;
  text-transform: uppercase;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0 0 0 2%;
}
main .title .line-container {
  position: relative;
  width: 100%;
}
main .title .line-container .line {
  position: absolute;
  top: 25%;
  right: 0;
  width: 150%;
  height: 50%;
  background-color: #f4c22c;
  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.6);
}
main #home {
  padding: 0 5%;
  color: white;
  background-color: black;
  height: 100vh;
}
main #home .contact-btn {
  background-color: #f4c22c;
  position: relative;
  padding: 10px 50px;
  text-decoration: none;
  color: black;
  border: 2px solid #f4c22c;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 3;
}
main #home .contact-btn:hover {
  background-color: black;
  color: #f4c22c;
}
main #home header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #home header .hamburger {
  display: none;
}
main #home header #tiny-logo {
  height: 80%;
  margin-right: 10px;
}
main #home header nav {
  width: 100%;
}
main #home header nav ul {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
main #home header nav ul li:last-child {
  margin-left: auto;
}
main #home header nav ul a {
  list-style: none;
  margin: 0;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
  letter-spacing: 1px;
  font-size: 1rem;
}
main #home header nav ul a:hover {
  color: #f4c22c;
}
main #home #home-text {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
}
main #home #home-text #text-container {
  display: flex;
  flex-direction: column;
  width: 45%;
}
main #home #home-text #text-container h1 {
  font-size: clamp(2.2rem, 3.1vw, 10rem);
  text-transform: uppercase;
}
main #home #home-text #text-container p {
  font-size: 1rem;
  margin: 20px 10px 20px 0px;
}
main #home #home-text #text-container .contact-btn {
  margin: unset;
  width: 40%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  text-align: center;
}
main #home #home-text #lady-container {
  display: flex;
  align-self: flex-end;
  left: 55%;
  height: 110%;
  width: 50%;
}
main #home #home-text #lady-container img {
  width: auto;
  margin: auto;
  max-width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}
main #about {
  padding: 5%;
  background-color: #181818;
  color: white;
}
main #about p {
  text-align: justify;
  font-size: 1rem;
  font-weight: 300;
}
main #areas {
  padding: 5%;
  background-color: white;
}
main #areas .title h2 {
  color: black;
  padding: 0 2% 0 0;
}
main #areas .title .line-container .line {
  left: 0;
}
main #areas .areas-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1720px;
  padding: 0;
  margin: 0;
  gap: 10px;
}
main #areas .areas-list li {
  list-style: none;
  background-color: rgba(244, 194, 44, 0.7333333333);
  flex: 1 1 calc(50% - 10px);
  box-sizing: border-box;
  padding: 5%;
  transition: all 0.3s;
}
main #areas .areas-list li:hover {
  background-color: #f4c22c;
  transform: scale(101%);
}
main #areas .areas-list li h3 {
  margin: 10px 0;
  text-transform: uppercase;
}
main #contact {
  color: white;
  background-color: black;
  padding: 5%;
}
main #contact .contact-container {
  height: 60vh;
  display: flex;
}
main #contact .contact-container .contact-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
}
main #contact .contact-container .contact-links ul {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main #contact .contact-container .contact-links li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main #contact .contact-container .contact-links li img {
  height: 100%;
  margin-right: 10px;
}
main #contact .contact-container .contact-links li span strong {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #f4c22c;
  font-weight: 600;
}
main #contact .contact-container .contact-links li span a {
  display: block;
  color: white;
  text-decoration: none;
}
main #contact .contact-container .contact-links li span a:hover {
  text-decoration: underline;
}
main #contact .contact-container #email-form {
  display: flex;
  height: auto;
  width: 60%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main #contact .contact-container #email-form input,
main #contact .contact-container #email-form textarea {
  box-shadow: rgba(0, 0, 0, 0.4) 1px 3px 6px;
  height: 2%;
  padding: 3%;
  margin-bottom: 2%;
  width: 100%;
  outline: none;
  border: none;
  font-family: "Encode Sans Expanded", sans-serif;
}
main #contact .contact-container #email-form input::-moz-placeholder, main #contact .contact-container #email-form textarea::-moz-placeholder {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
  font-family: "Alexandria";
}
main #contact .contact-container #email-form input::placeholder,
main #contact .contact-container #email-form textarea::placeholder {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
  font-family: "Alexandria";
}
main #contact .contact-container #email-form textarea {
  height: 100%;
  resize: none;
}
main #contact .contact-container #email-form button {
  margin-left: auto;
  background-color: #f4c22c;
  padding: 10px 15%;
  text-decoration: none;
  color: black;
  border: 2px solid #f4c22c;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
}
main #contact .contact-container #email-form button:hover {
  background-color: black;
  color: #f4c22c;
}
main footer {
  background-color: #181818;
  padding: 0 5%;
  height: 15vh;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 300;
}
main footer span {
  margin-bottom: 10px;
}
main footer span a {
  color: rgba(255, 255, 255, 0.4);
}
main footer span a:hover {
  color: #f4c22c;
}
main footer img {
  width: 15%;
}/*# sourceMappingURL=style.css.map */